.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr 2fr 2fr;
  gap: 10px;
  border: 1px solid #000;

  width: 100%;
  height: 100%;
}

.recoFormArea {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border: 1px solid #000;
}

.favoriteArea {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 1px solid #000;
}

.processDocArea {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border: 1px solid #000;
}

.receRefArea {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border: 1px solid #000;
}

.timeLineArea {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  border: 1px solid #000;
}
