.icon_box {
  background-color: #3bafda;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  padding: 0 10px 0 0;
  position: fixed;
  left: 240px;
  right: 0;
  top: 0;
  height: 70px;
  transition: all 0.1s ease-out;
  z-index: 1001;
}

.iconlist {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0 !important;
  float: right !important;
  margin-top: 0;
}

.profile {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding: 0 12px !important;
  float: left;
  position: relative;
  cursor: pointer;
}
