.blue_btn {
  /* width: 44.09px; */
  height: 27px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  font-family: '돋움', Dotum;
  border: 1px solid #3bafda;
  background: #3bafda;
  margin: 0px 5px;
}

.blue_btn:hover {
  background-color: #2a95c0;
}

.gray_btn {
  /* width: 44.09px; */
  height: 27px;
  font-size: 12px;
  text-align: center;
  color: #000000;
  font-family: '돋움', Dotum;
  border: 1px solid #ccc;
  background: linear-gradient(0deg, #f0f0f0, #fff);
  margin: 0px 5px;
}

.gray_btn:hover {
  background: linear-gradient(0deg, #dcdcdc, #fff);
}

.popup_blue_btn {
  /* width: 61.6px; */
  height: 32px;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  font-family: '돋움', Dotum;
  border: 1px solid #3bafda;
  background: #3bafda;
  margin: 0px 5px;
}

.popup_blue_btn:hover {
  background-color: #2a95c0;
}

.popup_gray_btn {
  /* width: 61.6px; */
  height: 32px;
  font-size: 15px;
  text-align: center;
  color: #000000;
  font-family: '돋움', Dotum;
  border: 1px solid #ccc;
  background: linear-gradient(0deg, #f0f0f0, #fff);
  margin: 0px 5px;
}

.popup_gray_btn:hover {
  background: linear-gradient(0deg, #dcdcdc, #fff);
}

.popup_non_btn {
  width: 100%;
  background-color: white;
  border: none;
}
