.box {
  padding: 0px 20px;
  background-color: white;
  border-radius: 10px;
}

hr {
  margin-top: 0px;
}

.titleArea {
  display: flex;
  flex-direction: row;
}

.titleChildrenBox {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
  gap: 5px;
}
