.titleBoxContainer {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: white;
}

.titleSearchBox {
  display: flex; /* 자식 요소를 가로로 나란히 정렬하기 위해 flex 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  max-width: 420px; /* 자식 요소가 넘치는 경우 최대 너비 설정 */
  height: 49px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
  color: #3bafda;
}

.boxtitle {
  font-size: 18px;
  line-height: 49px;
  letter-spacing: -0.8px;
  color: #000;
}

.docCount {
  align-items: center;
  max-width: 420px;
  line-height: 49px;
  margin: 0 0 0 10px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.8px;
}

.left {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;

  box-sizing: border-box;
}

.right {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;

  box-sizing: border-box;
  flex-grow: 1;
}
.reloadIcon {
  width: 14px;
  height: 14px;
  margin-left: 20px;
  cursor: pointer;
}
.showApprobox {
  display: flex;
  align-items: center;
}
